---
import Base from '../layouts/Base.astro';
const pageTitle = "Page not found";
---

<Base title={pageTitle}>
  <h1>404 <span style={{ color: "gray" }}>Page not found</span></h1>
  <p>Let's go to <a href="/">a page that does exist</a>!</p>
</Base>
