---
const world = "world!";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="https://cdn.turtlecode.me/images/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>// TurtleCode84</title>
	</head>
	<body>
		<h1>Hello, {world}</h1>
	</body>
</html>
