---
const { title } = Astro.props;
---
  
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="https://cdn.turtlecode.me/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} // TurtleCode</title>
  </head>
  <body>
    <slot />
  </body>
</html>
